.grid .year {
  @apply flex gap-1 mb-1;
}

.grid .dot {
  @apply w-3 h-3 border border-gray-700 rounded-full;
}

.grid .year.filled > .dot,
.grid .dot.filled {
  @apply bg-gray-700;
}

.grid .break {
  @apply text-sm my-8 relative;
}

.grid .break span {
  @apply bg-slate-100 px-4;
}

.grid .break::after {
  @apply block absolute w-80 border-t border-gray-300 -z-10;

  content: "";

  top: 50%;
  left: calc(50% - 150px);
}
